.duckContainer {
  composes: baseDuckContainer from 'sharedStyles/styles.css';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.duckContainer:hover {
  background: #F1F1F1;
}

.avatar {
  composes: baseAvatar from 'sharedStyles/styles.css';
}

.actionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  font-size: 18px
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.text {
  padding: 8px 0;
  font-size: 20px;
  line-height: 25px;
}

.likeReplyContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  composes: clickable from 'sharedStyles/styles.css';
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.likedIcon {
  composes: icon;
  color: #4a90e2;;
}

.author {
  composes: clickable from 'sharedStyles/styles.css';
}