html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #4a90e2;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 20px;
}

.subHeader {
  color: #4a90e2;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.errorMsg {
  color: #FF7777;
  font-size: 22px;
  text-align: center;
}

.center {
  text-align: center;
}

.baseTextAreaContainer {
  display: flex;
  height: 110px;
  margin: 10px;
}

.baseTextArea {
  flex: 1;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  resize: none;
}

.darkBtn {
  background: #4a90e2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4a90e2;
}

.darkBtn:hover {
  background: #1877E6
}