.mainContainer {
  padding: 20px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 4;
}

.repliesContainer {
  flex: 3;
}

.replyTextAreaContainer {
  width: 70%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  height: 160px;
  composes: baseTextAreaContainer from 'sharedStyles/styles.css';
}

.replyTextArea {
  border: 1px solid #ccc;
  margin: 10px 0;
  composes: baseTextArea from 'sharedStyles/styles.css';
}